@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,700&display=swap");

/*
  font-family: 'Poppins', sans-serif;
  font-family: 'Roboto Condensed', sans-serif;
*/

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: "Poppins", sans-serif, "Roboto Condensed", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
